{% if scene.id %}
    <li class="events"
        {#data-form-url="{{ path('app_item_new', { id: scene.id }) }}"
        data-list-url="{{ path('app_item_list', { id: scene.id }) }}"#}
    >
        <span class="fa fa-bookmark logo-icon" title="{{ 'scene.tabs.events' | trans }}"></span>
        <span class="h4">
            {{ 'scene.tabs.events' | trans }}
            <button class="btn btn-sm btn-success js-load-form" title="{{ 'event.actions.create' | trans }}">
                <span class="fa fa-plus"></span>
            </button>
        </span>
        <ul>
            {% for event in events %}
                {% set model = eventModel(event) %}
                <li title="{% include "scene/events/%s.html.twig" | format(model | eventTemplateName) with { model: model } only %}">
                    {{ event.name }}
                </li>
            {% endfor %}
        </ul>
{% endif %}
