<li class="characters js-list"
    data-form-url="{{ path('character_new', { id: sceneId }) }}"
    data-list-url="{{ path('character_list', { id: sceneId, page: characters.currentPage }) }}"
>
    <span class="fa fa-user-o logo-icon" title="{{ 'scene.tabs.characters' | trans }}"></span>
    <span class="h4">
        <button class="btn btn-xs btn-success js-load-form" title="{{ 'character.actions.create' | trans }}">
            <span class="fa fa-plus"></span>
        </button>
        {% if chapterId %}
            <button class="btn btn-xs btn-default js-load-sublist"
                    title="{{ 'character.actions.add_existing' | trans }}"
                    data-list-url="{{ path('character_related', { id: sceneId }) }}"
            >
                <span class="fa fa-link"></span>
            </button>
        {% endif %}
    </span>
    <ul>
        {% for character in characters -%}
            <li>
                <span class="sublist-label">{{ character | truncate(15) }}</span>
                <span class="list-actions">
                    <button class="js-load-form js-edit-form btn btn-xs btn-primary"
                        data-form-url="{{ path('character_edit', { id: character.id }) }}"
                        title="{{ 'crud.edit' | trans }}"
                    >
                        <span class="fa fa-edit"></span>
                    </button>
                    <button class="js-display btn btn-xs btn-default"
                        data-display-url="{{ path('character_display', { id: character.id }) }}"
                        title="{{ 'crud.display' | trans }}"
                    >
                        <span class="fa fa-eye"></span>
                    </button>
                    {% if chapterId %}
                        <button class="js-list-delete js-delete btn btn-xs btn-warning"
                            data-delete-url="{{ path('character_remove_from_scene', { scene_id: sceneId, character_id: character.id }) }}"
                            title="{{ 'crud.remove_from_scene' | trans }}"
                        >
                            <span class="fa fa-scissors"></span>
                        </button>
                    {% endif %}
                    <button class="js-list-delete js-delete btn btn-xs btn-danger"
                        data-delete-url="{{ path('character_delete', { id: character.id }) }}"
                        title="{{ 'crud.delete' | trans }}"
                    >
                        <span class="fa fa-trash"></span>
                    </button>
                </span>
            </li>
        {%- endfor %}
    </ul>
</li>
