<html lang="{{ app.request.locale }}">
    <head>

    </head>
    <body>
        {{ 'security.reset_password.mail.body'|trans }}
        <br />
        <br />
        <a href="{{ url('password_reset_change', { code: code }) }}" target="_blank">
            {{ 'security.reset_password.mail.link'|trans }}
        </a>
        <br />
        <p>{{ 'security.reset_password.mail.valid_until'|trans({ '%date%': code.validUntil|date('Y-m-d H:i') }) }}</p>
    </body>
</html>
