<html lang="{{ app.request.locale|default('') }}">
    <head>

    </head>
    <body>
        {{ 'security.registration.mail.body'|trans }}
        <br />
        <br />
        <a href="{{ url('activation', { code: code }) }}" target="_blank">
            {{ 'security.registration.mail.link'|trans }}
        </a>
        <br />
        <p>{{ 'security.registration.mail.valid_until'|trans({ '%date%': code.validUntil|date('Y-m-d H:i') }) }}</p>
    </body>
</html>
