{% extends 'partial/topMenuActions.html.twig' %}

{% block additionalActions %}
    <li>
        <a href="{{ path('chapter_display', { id: chapterId }) }}" target="_blank" title="{{ 'display.go_to'|trans }}">
            <span class="fa fa-eye"></span> {{ 'display.label'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('chapter_pdf', { id: chapterId }) }}" target="_blank" title="{{ 'pdf.render'|trans }}">
            <span class="fa fa-file-pdf-o"></span> {{ 'pdf.label'|trans }}
        </a>
    </li>
{% endblock %}

