{% extends 'base.html.twig' %}

{% block seo_title 'chapter.header.create' | trans %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block top_menu_right %}
    {% include 'partial/topMenu/actions.html.twig' with {
        returnUrl: bookId ? path('book_edit', { id: bookId }) : path('chapter_list'),
        returnLabel: bookId ? 'chapter.back.to_book' | trans : 'chapter.back.to_list' | trans
    } %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basic">
                        {{ form_row(form.title) }}
                        {{ form_row(form.book) }}
                        <button class="btn btn-primary pull-right">{{ 'crud.save' | trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
