{% extends 'displayBase.html.twig' %}

{% block seoTitle chapter.title %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ chapter.title }}</h1>
            {% for scene in chapter.scenes if scene.text|length %}
                <div class="card">
                    <div class="card-header" id="heading-{{ loop.index }}">
                        <h3 class="cursor-pointer"
                            data-target="#scene-{{ loop.index }}"
                            data-toggle="collapse"
                            aria-expanded="true"
                            aria-controls="scene-{{ loop.index }}"
                        >
                            {{ scene.title }}
                            <span class="float-right fa fa-toggle-{% if loop.first %}on{% else %}off{% endif %}"
                                  title="{{ 'display.show_hide'|trans }}"
                            >
                            </span>
                        </h3>
                    </div>
                    <div id="scene-{{ loop.index }}"
                         aria-labelledby="heading-{{ loop.index }}"
                         class="collapse{% if loop.first %} show{% endif %}"
                         data-parent="#accordion"
                         >
                        <div class="card-body">{{ scene.text|raw }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
