{% extends 'base.html.twig' %}

{% import 'partial/macros.html.twig' as macros %}

{% form_theme form 'form/formTheme.html.twig' %}

{% block seoTitle 'chapter.seo_title.form.edit'|trans({ '%title%': title }) %}
{% block breadcrumbs %}
    {% include 'partial/breadcrumbs.html.twig' with {
        items: [
            bookId is not null
                ? { label: bookTitle, url: path('book_edit', { id: bookId }) }
                : { label: 'common.chapters'|trans, url: path('chapter_list') }
            ,
            { label: title }
        ]
    } only %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col col">
            {{ macros.tabNavigation([
                macros.tab('formContentTab', 'formContent', 'common.content', 'active'),
                macros.tab('publicationsTab', 'publications', 'publication.tab', ''),
                chapters is not null ? macros.tab('chaptersTab', 'chapters', 'chapter.book', '') : '',
                macros.tab('scenesTab', 'scenes', 'common.scenes', '')
            ]) }}
        </div>
    </div>
    <div class="row">
        <div class="col col">
            <div class="tab-content pt-2 pb-2">
                {{ macros.tabContent(
                    'formContent',
                    'formContentTab',
                    include('chapter/tab/content.html.twig', { id: chapterId, form: form }, with_context = false),
                    'active show'
                ) }}
                {{ macros.tabContent(
                    'publications',
                    'publicationsTab',
                    include(
                        'partial/publications.html.twig',
                        {
                            createRoute: 'chapter_publish',
                            createParameters: { id: chapterId },
                            listRoute: 'chapter_publication_list',
                            listParameters: { id: chapterId, page: publications.currentPage },
                            publications: publications
                        },
                        with_context = false
                    ),
                    'js-list-container'
                ) }}
                {% if chapters is not null %}
                    {{ macros.tabContent(
                        'chapters',
                        'chaptersTab',
                        include('book/tab/chapters.html.twig', {
                            bookId: bookId,
                            chapters: chapters,
                            title: 'chapter.info.book'|trans({ '%title%': bookTitle }),
                            page: 1,
                            bookDisplayLink: true
                        }, with_context = false),
                        'js-list-container'
                    ) }}
                {% endif %}
                {{ macros.tabContent(
                    'scenes',
                    'scenesTab',
                    include('chapter/tab/scenes.html.twig', { chapterId: chapterId, scenes: scenes, page: 1 }, with_context = false),
                    'js-list-container'
                ) }}
            </div>
        </div>
    </div>
    {% block modals %}
        {% include 'modal/display.html.twig' with { class: 'modal-lg' } only %}
        {% include 'modal/form.html.twig' with {} only %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}
