{% extends 'base.html.twig' %}

{% block seo_title 'chapter.header.edit' | trans({ '%title%': title }) %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block top_menu_right %}
    {% include 'chapter/actions.html.twig' with {
        returnUrl: bookId ? path('book_edit', { id: bookId }) : path('chapter_list'),
        returnLabel: bookId ? 'chapter.back.to_book' | trans : 'chapter.back.to_list' | trans
    } %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            {{ form_start(form) }}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basic">
                        {{ form_row(form.title) }}
                        {{ form_row(form.book) }}
                        <button class="btn btn-success pull-right">{{ 'crud.save' | trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% embed 'partial/sideMenu.html.twig' %}
        {% block listContent %}
            {% include 'chapter/scenes/listHeader.html.twig' with {
                chapterId: chapterId,
                scenes: scenes,
                sceneForm: sceneForm
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}
