{% extends 'base.html.twig' %}

{% import 'partial/macros.html.twig' as macros %}

{% form_theme form 'form/formTheme.html.twig' %}

{% block seoTitle 'chapter.seo_title.form.edit'|trans({ '%title%': title }) %}
{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: bookId ? path('book_edit', { id: bookId }) : path('chapter_list'),
        returnLabel: bookId ? 'chapter.back.to_book'|trans : 'chapter.back.to_list'|trans
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-sm-8 offset-sm-1">
            {{ macros.tabNavigation([
                macros.tab('formContentTab', 'formContent', 'common.content', 'active'),
                macros.tab('scenesTab', 'scenes', 'common.scenes', '')
            ]) }}
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-8 offset-sm-1">
            <div class="tab-content pt-2 pb-2">
                {{ macros.tabContent(
                    'formContent',
                    'formContentTab',
                    include('chapter/tab/content.html.twig', { form: form }, with_context = false),
                    'active show'
                ) }}
                {{ macros.tabContent(
                    'scenes',
                    'scenesTab',
                    include('chapter/tab/scenes.html.twig', { chapterId: chapterId, scenes: scenes, page: 1 }, with_context = false),
                    ''
                ) }}
            </div>
        </div>
    </div>
    {% embed 'partial/sidemenu.html.twig' with {
        display: macros.sidemenuDisplayLink(path('chapter_display', { id: chapterId })),
        pdf: macros.sidemenuPdfLink(path('chapter_pdf', { id: chapterId }))
    } %}
        {% block content %}
            {{ display|raw }}
            {{ pdf|raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
