{% extends 'base.html.twig' %}

{% block seoTitle 'chapter.seo_title.list'|trans %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6  text-right">
            {% include 'partial/pagination.html.twig' with { paginator: chapters } %}
        </div>
    </div>
    <div class="row">
        {% if chapters|length > 0 %}
            <div class="col-xs-12 col-md-offset-3 col-md-6 ">
                <table class="table">
                    <tbody>
                        {% for chapter in chapters %}
                            <tr>
                                <td class="text-right">{{ chapter }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary"
                                       href="{{ path('chapter_edit', { id: chapter.id, page: page }) }}"
                                       title="{{ 'crud.edit'|trans }}"
                                       >
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a class="btn btn-sm btn-danger js-delete"
                                       href="{{ path('chapter_delete', { id: chapter.id, page: page }) }}"
                                       title="{{ 'crud.delete'|trans }}"
                                       >
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="text-right">
                                <a class="btn btn-sm btn-success"
                                   href="{{ path('chapter_create', { page: page }) }}"
                                   title="{{ 'chapter.list.create'|trans }}"
                                   >
                                    <span class="fa fa-plus"></span>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% else %}
            <div class="col-xs-12 text-center">
                <h4>{{- 'chapter.list.standalone.no_results.header'|trans -}}</h4>
                <a class="btn btn-sm btn-success"
                   href="{{ path('chapter_create') }}"
                   title="{{ 'chapter.actions.create'|trans }}"
                >
                    <span class="fa fa-plus"></span> {{ 'chapter.list.standalone.no_results.add_new'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
