{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6  text-right">
            {% include 'partial/pagination.html.twig' with { paginator: chapters } %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 ">
            <table class="table">
                <tbody>
                {% for chapter in chapters %}
                    <tr>
                        <td class="text-right">{{ chapter }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary"
                               href="{{ path('app_chapter_edit', { id: chapter.id, page: page }) }}"
                               title="{{ 'crud.edit' | trans }}"
                            >
                                <span class="fa fa-edit"></span>
                            </a>
                            <a class="btn btn-sm btn-danger js-delete"
                               href="{{ path('app_chapter_delete', { id: chapter.id, page: page }) }}"
                               title="{{ 'crud.delete' | trans }}"
                            >
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-right">
                            <a class="btn btn-sm btn-success"
                               href="{{ path('app_chapter_create', { page: page }) }}"
                               title="{{ 'crud.create' | trans }}"
                            >
                                <span class="fa fa-plus"></span>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
