{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button id="submit" class="btn btn-primary">{{ 'crud.form.submit' | trans }}</button>
        <a class="btn btn-default" href="{{ path('crud_list', {elementName: element}) }}">
            {{ 'crud.form.return' | trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}
