<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block seo_title 'meta.title'|trans %}</title>
        <meta name="description" content="{% block seo_description '' %}">
        <meta name="keywords" content="{% block seo_keywords '' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/main.css')) }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        {% block stylesheets '' %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        {% for type, messages in app.flashes %}
            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'alert.close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
        <main class="container">
            <h1 class="text-center">{{ 'security.header'|trans }}</h1>
            <h3 class="text-center" style="margin-bottom: 50px;">{% block subheader '' %}</h3>
            {% block body '' %}
        </main>
        <script src="{{ absolute_url(asset('assets/main.js')) }}"></script>
        {% block javascripts '' %}
    </body>
</html>

