<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block seoTitle 'meta.title'|trans %}</title>
        <meta name="description" content="{% block seoDescription '' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/main.css')) }}" />
        {% block stylesheets '' %}
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    </head>
    <body class="security">
        {% for type, messages in app.flashes %}
            <div id="alerts">
                <div class="alert alert-dismissible alert-unfadable alert-{{ type }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'alert.close'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <main class="container">
            <h1 class="text-center">{{ 'security.header'|trans }}</h1>
            <h4 class="text-center" style="margin-bottom: 20px;">{% block subheader '' %}</h4>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-sm text-center">
                    {% block links '' %}
                </div>
            </div>
            {% block body '' %}
        </main>
        <script src="{{ absolute_url(asset('assets/main.js')) }}"></script>
        {% block javascripts '' %}
    </body>
</html>
