{% extends 'security/base.html.twig' %}

{% block seoTitle 'security.login.header'|trans %}
{% block subheader 'security.login.header'|trans %}

{% block links %}
    <a class="btn btn-link btn-sm" href="{{ path('register') }}" tabindex="4">
        {{- 'security.login.register'|trans -}}
    </a>
    <a class="btn btn-link btn-sm" href="{{ path('password_reset_request') }}"tabindex="5">
        {{- 'security.login.password_reset'|trans -}}
    </a>
    <a class="btn btn-link btn-sm" href="{{ path('about') }}"tabindex="6">
        {{- 'security.about'|trans -}}
    </a>
{% endblock %}

{% block body %}
    {% if error %}
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <div class="alert alert-danger alert-form text-center" role="alert">{{ error }}</div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <form method="POST" novalidate="novalidate">
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">{{ 'security.login.email.label'|trans }}</label>
                    <div class="col-sm">
                        <input id="email"
                            type="email"
                            name="_email"
                            class="form-control"
                            placeholder="{{ 'security.login.email.placeholder'|trans }}"
                            {% if lastUsername is empty %}autofocus="autofocus"{% endif %}
                            value="{{ lastUsername }}"
                            tabindex="1"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">{{ 'security.login.password.label'|trans }}</label>
                    <div class="col-sm">
                        <input id="password"
                            type="password"
                            name="_password"
                            class="form-control"
                            placeholder="{{ 'security.login.password.placeholder'|trans }}"
                            {% if lastUsername is not empty %}autofocus="autofocus"{% endif %}
                            tabindex="2"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col text-right">
                        <button class="btn btn-success" tabindex="3">{{ 'security.login.submit'|trans }}</button>
                    </div>
                </div>
                {% if app.environment != 'test' %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
