{% extends 'security/base.html.twig' %}

{% form_theme form 'form/formTheme.html.twig' %}

{% block seoTitle 'security.reset_password.change.header'|trans %}
{% block subheader 'security.reset_password.change.header'|trans %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            {{ form_start(form) }}
                {{ form_row(form.password) }}
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <a href="{{ path('index') }}" class="btn btn-default">{{ 'security.reset_password.login'|trans }}</a>
                        <button class="btn btn-success">{{ 'security.reset_password.change.submit'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
