<table class="table"
       data-form-url="{{ path('app_item_new', { id: scene.id }) }}"
       data-list-url="{{ path('app_item_list', { id: scene.id }) }}"
       id="item-list"
>
    <thead>
        <tr>
            <th>{{ 'item.name' | trans }}</th>
            <th>{{ 'crud.actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item }}</td>
                <td>
                    <button class="js-load-form js-edit-form btn btn-primary"
                        data-form-url="{{ path('app_item_edit', { id: item.id }) }}"
                        title="{{ 'crud.edit' | trans }}"
                    >
                        <span class="fa fa-edit"></span>
                    </button>
                    <button class="js-display btn btn-default"
                        data-display-url="{{ path('app_item_display', { id: item.id }) }}"
                        title="{{ 'crud.display' | trans }}"
                    >
                        <span class="fa fa-eye"></span>
                    </button>
                    <button class="js-list-delete js-delete btn btn-danger"
                        data-delete-url="{{ path('app_item_delete', { scene_id: scene.id, item_id: item.id }) }}"
                        title="{{ 'crud.delete' | trans }}"
                    >
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right">
                <button class="btn btn-success js-load-form" title="{{ 'item.create' | trans }}">
                    <span class="fa fa-plus"></span>
                </button>
                {% if scene.chapter %}
                    <button class="btn btn-default js-load-sublist"
                            title="{{ 'item.existing' | trans }}"
                            data-list-url="{{ path('app_item_related', { id: scene.id }) }}"
                    >
                        <span class="fa fa-user-o"></span>
                    </button>
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
