<table class="table">
    <thead>
        <tr>
            <th>{{ 'item.name'|trans }}</th>
            <th>{{ 'crud.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item }}</td>
            <td>
                <button class="modal-load-edit-form btn btn-primary"
                    data-edit-form-url="{{ path('app_scene_item_edit', { id: item.id }) }}"
                    title="{{ 'crud.edit' | trans }}"
                >
                    <span class="fa fa-edit"></span>
                </button>
                <button class="modal-delete btn btn-danger"
                    data-delete-url="{{ path('app_scene_item_delete', { scene_id: scene.id, item_id: item.id }) }}"
                    title="{{ 'crud.delete' | trans }}"
                >
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
