{% if scene.id %}
    <li class="items js-list"
        data-form-url="{{ path('app_item_new', { id: scene.id }) }}"
        data-list-url="{{ path('app_item_list', { id: scene.id }) }}"
    >
        <span class="fa fa-key logo-icon"></span>
        <span class="h4">
            {{ 'scene.tabs.items' | trans }}
            <button class="btn btn-sm btn-success js-load-form" title="{{ 'item.actions.create' | trans }}">
                <span class="fa fa-plus"></span>
            </button>
            {% if scene.chapter %}
                <button class="btn btn-sm btn-default js-load-sublist"
                        title="{{ 'item.actions.add_existing' | trans }}"
                        data-list-url="{{ path('app_item_related', { id: scene.id }) }}"
                >
                    <span class="fa fa-link"></span>
                </button>
            {% endif %}
        </span>
        <ul>
            {% for item in scene.items -%}
                <li>
                    <span class="sublist-label">{{ item | trim(15) }}</span>
                    <button class="js-load-form js-edit-form btn btn-xs btn-primary"
                        data-form-url="{{ path('app_item_edit', { id: item.id }) }}"
                        title="{{ 'crud.edit' | trans }}"
                    >
                        <span class="fa fa-edit"></span>
                    </button>
                    <button class="js-display btn btn-xs btn-default"
                        data-display-url="{{ path('app_item_display', { id: item.id }) }}"
                        title="{{ 'crud.display' | trans }}"
                    >
                        <span class="fa fa-eye"></span>
                    </button>
                    <button class="js-list-delete js-delete btn btn-xs btn-warning"
                        data-delete-url="{{ path('app_item_remove_from_scene', { scene_id: scene.id, item_id: item.id, page: items.currentPage }) }}"
                        title="{{ 'crud.remove_from_scene' | trans }}"
                    >
                        <span class="fa fa-scissors"></span>
                    </button>
                    <button class="js-list-delete js-delete btn btn-xs btn-danger"
                        data-delete-url="{{ path('app_item_delete', { scene_id: scene.id, item_id: item.id, page: items.currentPage }) }}"
                        title="{{ 'crud.delete' | trans }}"
                    >
                        <span class="fa fa-trash"></span>
                    </button>

                </li>
            {%- endfor %}
        </ul>
    </li>
{% endif %}
