<div class="row">
    <div class="col-xs-12 text-right js-ajax-pagination" data-container="#items">
        {% include 'partial/pagination.html.twig' with {
            paginator: items,
            route: 'app_item_list',
            parameters: { id: scene.id } }
        %}
    </div>
</div>
<table class="table"
       data-form-url="{{ path('app_item_new', { id: scene.id }) }}"
       data-list-url="{{ path('app_item_list', { id: scene.id }) }}"
       id="item-list"
       data-container="#items"
>
    <thead>
        <tr>
            <th>{{ 'item.name' | trans }}</th>
            <th>{{ 'crud.actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item }}</td>
                <td>
                    <button class="js-load-form js-edit-form btn btn-primary"
                        data-form-url="{{ path('app_item_edit', { id: item.id }) }}"
                        title="{{ 'crud.edit' | trans }}"
                    >
                        <span class="fa fa-edit"></span>
                    </button>
                    <button class="js-display btn btn-default"
                        data-display-url="{{ path('app_item_display', { id: item.id }) }}"
                        title="{{ 'crud.display' | trans }}"
                    >
                        <span class="fa fa-eye"></span>
                    </button>
                    <button class="js-list-delete js-delete btn btn-warning"
                        data-delete-url="{{ path('app_item_remove_from_scene', { scene_id: scene.id, item_id: item.id, page: items.currentPage }) }}"
                        title="{{ 'crud.remove_from_scene' | trans }}"
                    >
                        <span class="fa fa-scissors"></span>
                    </button>
                    <button class="js-list-delete js-delete btn btn-danger"
                        data-delete-url="{{ path('app_item_delete', { scene_id: scene.id, item_id: item.id, page: items.currentPage }) }}"
                        title="{{ 'crud.delete' | trans }}"
                    >
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right">
                <button class="btn btn-success js-load-form" title="{{ 'item.actions.create' | trans }}">
                    <span class="fa fa-plus"></span>
                </button>
                {% if scene.chapter %}
                    <button class="btn btn-default js-load-sublist"
                            title="{{ 'item.actions.add_existing' | trans }}"
                            data-list-url="{{ path('app_item_related', { id: scene.id }) }}"
                    >
                        <span class="fa fa-user-o"></span>
                    </button>
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
