<section class="col-xs-12">
    <h2>
        {{ 'dashboard.chapters' | trans }}
        <a href="{{ path('app_chapter_new_standalone') }}" class="btn btn-success pull-right" title="{{ 'chapter.create' | trans }}">
            <span class="fa fa-plus"></span>
        </a>
    </h2>
    <table class="table dashboard">
        <thead>
            <tr>
                <th>{{ 'chapter.title' | trans }}</th>
                <th>{{ 'chapter.book' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for chapter in chapters %}
                <tr>
                    <td>
                        <a href="{{ path('app_chapter_edit', { id: chapter.id }) }}">
                            {{ chapter }}
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_book_edit', { id: chapter.book.id }) }}">
                            {{ chapter.book }}
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
