<section class="col-xs-12">
    <h2>
        {{ 'dashboard.scenes' | trans }}
        <a href="{{ path('app_scene_create') }}" class="btn btn-success pull-right" title="{{ 'scene.actions.create' | trans }}">
            <span class="fa fa-plus"></span>
        </a>
    </h2>
    <table class="table dashboard">
        <thead>
            <tr>
                <th>{{ 'scene.title' | trans }}</th>
                <th>{{ 'scene.chapter' | trans }}</th>
                <th>{{ 'scene.book' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for scene in scenes %}
                <tr>
                    <td>
                        <a href="{{ path('app_scene_edit', { id: scene.id }) }}">
                            {{ scene }}
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        {% if scene.chapter %}
                            <a href="{{ path('app_scene_edit', { id: scene.id }) }}">
                                {{ scene.chapter }}
                                <span class="fa fa-edit"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if scene.book %}
                            <a href="{{ path('app_scene_edit', { id: scene.id }) }}">
                                {{ scene.book }}
                                <span class="fa fa-edit"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
