{% import 'partial/macros.html.twig' as macros %}
<div class="text-right pb-2">
   {{ macros.displayButton(path('chapter_display', { id: id })) }}
   {{ macros.pdfButton(path('chapter_pdf', { id: id })) }}
</div>
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.book) }}
    {{ form_row(form.preface) }}
    <div class="form-group row">
        <div class="col text-right">
            <button class="btn btn-success pull-right">{{ 'crud.save'|trans }}</button>
        </div>
    </div>
{{ form_end(form) }}
