<ul class="js-ajax-pagination" data-list-url="{{ path('chapter_scenes_list', { id: chapterId }) }}">
    {% if scenes|length > 0 %}
        {% for scene in scenes %}
            <li class="list-inline-item pt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ scene.title }}</h5>
                        <div class="text-center">
                            <a class="btn btn-sm btn-primary"
                               href="{{ path('scene_edit', { id: scene.id }) }}"
                               title="{{ 'crud.edit'|trans }}"
                            >
                                <span class="fa fa-edit"></span>
                            </a>
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{{ path('scene_display', { id: scene.id }) }}"
                               target="_blank"
                               title="{{ 'crud.display'|trans }}"
                            >
                                <span class="fa fa-eye"></span>
                            </a>
                            <button class="js-list-delete js-delete btn btn-sm btn-danger"
                                    data-delete-url="{{ path('scene_delete', { id: scene.id }) }}"
                                    title="{{ 'crud.delete'|trans }}"
                            >
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: scenes, route: 'chapter_scenes_list', parameters: { id: chapterId }} only %}
