{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'base.html.twig' : 'information/base.html.twig' %}

{% trans_default_domain 'information' %}

{% import _self as macros %}

{% block seoTitle 'about.title'|trans %}
{% block header 'about.header'|trans %}

{% block body %}
    <div class="row">
        {{ macros.card(1, 'preface') }}
        {{ macros.card(2, 'structure') }}
        {{ macros.card(3, 'scene') }}
        {{ macros.card(4, 'publication') }}
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="row pt-4">
            <div class="col text-center">
                <a class="btn btn-success btn-lg" href="{{ path('index') }}">
                    {{- 'about.return'|trans -}}
                </a>
            </div>
        </div>
    {% else %}
        <div class="row pt-4">
            <div class="col text-center">
                <a href="{{ path('index') }}" class="btn btn-lg btn-outline-secondary">
                    {{- 'login'|trans -}}
                </a>
                <a href="{{ path('register') }}" class="btn btn-success btn-lg">
                    {{- 'register'|trans -}}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% macro card(index, key) %}
    <div class="card col-sm-6">
        <div class="card-header">
            <b>{{ index ~ '. ' ~ ('about.' ~ key ~ '.header')|trans }}</b>
        </div>
        <div class="card-body">
            <p class="card-text">{{ ('about.' ~ key ~ '.content')|trans }}</p>
        </div>
    </div>
{% endmacro %}
