<table class="table"
       data-form-url="{{ path('app_location_new', { id: scene.id }) }}"
       data-list-url="{{ path('app_location_list', { id: scene.id }) }}"
>
    <thead>
        <tr>
            <th>{{ 'location.name' | trans }}</th>
            <th>{{ 'crud.actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location }}</td>
                <td>
                    <button class="js-load-form js-edit-form btn btn-primary"
                        data-form-url="{{ path('app_location_edit', { id: location.id }) }}"
                        title="{{ 'crud.edit' | trans }}"
                    >
                        <span class="fa fa-edit"></span>
                    </button>
                    <button class="js-list-delete delete btn btn-danger"
                        data-delete-url="{{ path('app_location_delete', { scene_id: scene.id, location_id: location.id }) }}"
                        title="{{ 'crud.delete' | trans }}"
                    >
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right">
                <button class="btn btn-success js-load-form" title="{{ 'location.create' | trans }}">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
        </tr>
    </tfoot>
</table>
