<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block seo_title 'meta.title' | trans %}</title>
        <meta name="description" content="{% block seo_description '' %}">
        <meta name="keywords" content="{% block seo_keywords '' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ asset('public/styles.css') }}">
        {% block stylesheets '' %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">{% block menu knp_menu_render('main') %}</div>
        </nav>
        <main class="container">
            {% include 'partial/alerts.html.twig' %}
            {% block body '' %}
        </main>
        <footer>{% block footer '' %}</footer>
        {% include 'partial/confirmationModal.html.twig' %}
        {% block modals '' %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('public/scripts.js') }}"></script>
        {% block javascripts '' %}
        <div id="backdrop"></div>
    </body>
</html>
