<ul class="js-ajax-pagination" data-list-url="{{ path('location_list', { id: sceneId, page: locations.currentPage }) }}">
    {% if locations|length > 0 %}
        {% for location in locations %}
            <li>
                <span class="sublist-label">{{ location|truncate(15) }}</span>
                <span class="list-actions">
                    <button class="js-load-form js-edit-form btn btn-xs btn-primary"
                            data-form-url="{{ path('location_edit', { id: location.id }) }}"
                            title="{{ 'crud.edit'|trans }}"
                            >
                        <span class="fa fa-edit"></span>
                    </button>
                    <button class="js-display btn btn-xs btn-default"
                            data-display-url="{{ path('location_display', { id: location.id }) }}"
                            title="{{ 'crud.display'|trans }}"
                            >
                        <span class="fa fa-eye"></span>
                    </button>
                    {% if chapterId and 1 < location.scenes|length %}
                        <button class="js-list-delete js-delete btn btn-xs btn-warning"
                                data-delete-url="{{ path('location_remove_from_scene', { scene_id: sceneId, location_id: location.id }) }}"
                                title="{{ 'crud.remove_from_scene'|trans }}"
                                >
                            <span class="fa fa-scissors"></span>
                        </button>
                    {% endif %}
                    <button class="js-list-delete js-delete btn btn-xs btn-danger"
                            data-delete-url="{{ path('location_delete', { id: location.id }) }}"
                            title="{{ 'crud.delete'|trans }}"
                            >
                        <span class="fa fa-trash"></span>
                    </button>
                </span>
            </li>
        {% endfor %}
    {% else %}
        <li><span class="sublist-label no-results">{{ 'location.list.no_results'|trans }}</span></li>
    {% endif %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: locations, route: 'location_list', parameters: { id: sceneId, page: page }} only %}
