{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {% include 'partial/backButton.html.twig' with {
        redirectUri: path('app_book_list', { page: app.request.get('page', 1) }),
        label: 'book.back.to_list' | trans
    } %}
    <h1>{{ title }}</h1>
    <ul class="nav nav-tabs" role="tablist">
        {#{% for tab in ['basic', 'introduction', 'expansion', 'ending', 'chapters'] %}#}
        {% for tab in ['basic', 'chapters'] %}
            <li role="presentation"{% if loop.first %} class="active"{% endif %}>
                <a href="#{{ tab }}" aria-controls="{{ tab }}" role="tab" data-toggle="tab">
                    {{ ('book.tabs.' ~ tab) | trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
                {# Tabs #}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basic">
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}
                        <button class="btn btn-primary pull-right">{{ 'crud.save' | trans }}</button>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chapters">
                        {% include 'book/chapters/list.html.twig' with { bookId: bookId, chapters: chapters } only %}
                    </div>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% embed 'partial/sideMenu.html.twig' %}
        {% block listContent %}
            <li>
                <span class="fa fa-plus logo-icon" title="{{ 'book.actions.add_chapter' | trans }}"></span>
                <span class="h4">{{ 'book.actions.add_chapter' | trans }}</span>
                {{ form_start(chapterForm) }}
                    {{ form_row(chapterForm.title) }}
                    <div style="display: none;">{{ form_row(chapterForm.book) }}</div>
                    {{ form_rest(chapterForm) }}
                    <button class="btn btn-primary btn-sm">{{ 'crud.save' | trans }}</button>
                {{ form_end(chapterForm) }}
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}
