{% extends 'base.html.twig' %}

{% block seo_title 'book.header.create'|trans %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}

{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: path('book_list', { page: app.request.get('page', 1) }),
        returnLabel: 'book.back.to_list'|trans
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}
                <button class="btn btn-success pull-right">{{ 'crud.save'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
