{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block seoTitle 'book.seo_title.form.create'|trans %}
{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: path('book_list', { page: app.request.get('page', 1) }),
        returnLabel: 'book.back.to_list'|trans
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}
                {{ form_rest(form) }}
                <div class="form-group row">
                    <div class="col text-right">
                        <button class="btn btn-success">{{ 'crud.save'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}
