{% extends 'base.html.twig' %}

{% import 'partial/macros.html.twig' as macros %}

{% form_theme form 'form/formTheme.html.twig' %}

{% block seoTitle 'book.seo_title.form.edit'|trans({ '%title%': title }) %}
{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: path('book_list', { page: app.request.get('page', 1) }),
        returnLabel: 'book.back.to_list'|trans
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-sm-8 offset-sm-1">
            {{ macros.tabNavigation([
                macros.tab('formContentTab', 'formContent', 'common.content', 'active'),
                macros.tab('chaptersTab', 'chapters', 'common.chapters', ''),
                macros.tab('scenesTab', 'scenes', 'common.scenes', '')
            ]) }}
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-8 offset-sm-1">
            <div class="tab-content pt-2 pb-2">
                {{ macros.tabContent(
                    'formContent',
                    'formContentTab',
                    include('book/tab/content.html.twig', { form: form }, with_context = false),
                    'active show'
                ) }}
                {{ macros.tabContent(
                    'chapters',
                    'chaptersTab',
                    include('book/tab/chapters.html.twig', { bookId: bookId, chapters: chapters, page: 1 }, with_context = false),
                    'js-list-container'
                ) }}
                {{ macros.tabContent(
                    'scenes',
                    'scenesTab',
                    include('book/tab/scenes.html.twig', { bookId: bookId, scenes: scenes, page: 1 }, with_context = false),
                    'js-list-container'
                ) }}
            </div>
        </div>
    </div>
    {% embed 'partial/sidemenu.html.twig' with {
        display: macros.sidemenuDisplayLink(path('book_display', { id: bookId })),
        pdf: macros.sidemenuPdfLink(path('book_pdf', { id: bookId }))
    } %}
        {% block content %}
            {{ display|raw }}
            {{ pdf|raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block modals %}
    {% include 'modal/display.html.twig' with { class: 'modal-lg' } only %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}
