{% extends 'base.html.twig' %}

{% block seo_title 'book.header.edit'|trans({ '%title%': title }) %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme chapterForm 'bootstrap_3_layout.html.twig' %}

{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: path('book_list', { page: app.request.get('page', 1) }),
        returnLabel: 'book.back.to_list'|trans
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-10 col-sm-offset-1 col-md-8 col-md-offset-1">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}
                <button class="btn btn-success pull-right">{{ 'crud.save'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div id="ajax-container"></div>
    {% embed 'partial/sideMenu.html.twig' %}
        {% block listContent %}
            {% include 'book/chapters/listHeader.html.twig' with {
                bookId: bookId,
                chapterForm: chapterForm
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}
