{% extends 'base.html.twig' %}

{% block seo_title 'book.header.edit' | trans({ '%title%': title }) %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block top_menu_right %}
    <ul class="nav navbar-nav pull-right">
        <li>
            <a href="{{ path('book_list', { page: app.request.get('page', 1) }) }}">
                <span class="fa fa-angle-left"></span>
                {{ 'book.back.to_list' | trans }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}
                <button class="btn btn-primary pull-right">{{ 'crud.save' | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    {% embed 'partial/sideMenu.html.twig' %}
        {% block listContent %}
            {% include 'book/chapters/listHeader.html.twig' with {
                bookId: bookId,
                chapters: chapters,
                chapterForm: chapterForm
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}
