{% extends 'base.html.twig' %}

{% import 'partial/macros.html.twig' as macros %}

{% form_theme form 'form/formTheme.html.twig' %}
{% form_theme chapterForm 'form/formTheme.html.twig' %}

{% block seoTitle 'book.seo_title.form.edit'|trans({ '%title%': title }) %}
{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: path('book_list', { page: app.request.get('page', 1) }),
        returnLabel: 'book.back.to_list'|trans
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-sm-8 offset-sm-1">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}
                <div class="form-group row">
                    <div class="col text-right">
                        <button class="btn btn-success">{{ 'crud.save'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div id="ajax-container"></div>
    <nav class="side-menu">
        <ul id="side-menu" class="collapse show">
            {% include 'book/chapters/listHeader.html.twig' with {
                bookId: bookId,
                chapterForm: chapterForm
            } only %}
            {{ macros.sidemenuLink('eye', 'display.title'|trans, 'display.label'|trans, path('book_display', { id: bookId })) }}
            {{ macros.sidemenuLink('file-pdf-o', 'pdf.title'|trans, 'pdf.label'|trans, path('book_pdf', { id: bookId })) }}
        </ul>
        <div data-target="#side-menu" data-toggle="collapse" class="text-center">
            <button class="btn btn-sm" style="width: 100%;">
                <span class="fa fa-chevron-up"></span>
            </button>
        </div>
    </nav>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}
