{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6  text-right">
            {% include 'partial/pagination.html.twig' with { paginator: books } only %}
        </div>
    </div>
    <div class="row">
        {% if books|length > 0 %}
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <table class="table">
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td class="text-right">{{ book }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary"
                                       href="{{ path('book_edit', { id: book.id }) }}"
                                       title="{{ 'crud.edit'|trans }}"
                                       >
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a class="btn btn-sm btn-danger js-delete"
                                       href="{{ path('book_delete', { id: book.id, page: app.request.get('page') }) }}"
                                       title="{{ 'crud.delete'|trans }}"
                                       >
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="text-right">
                                <a class="btn btn-sm btn-success"
                                   href="{{ path('book_create') }}"
                                   title="{{ 'crud.create'|trans }}"
                                   >
                                    <span class="fa fa-plus"></span>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% else %}
            <div class="col-xs-12 text-center">
                <h4>{{- 'book.list.no_results.header'|trans -}}</h4>
                <a class="btn btn-sm btn-success"
                   href="{{ path('book_create') }}"
                   title="{{ 'book.actions.create'|trans }}"
                >
                    <span class="fa fa-plus"></span> {{ 'book.list.no_results.add_new'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
