<div class="row">
    <div class="col-xs-12">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <button class="btn btn-primary">{{ 'crud.save' | trans }}</button>
    {{ form_end(form) }}
    </div>
</div>
