{% form_theme form 'scene/form/theme.html.twig' %}
{{ form_start(form) }}
    <div class="row">
        {{ form_row(form.text, { row_class: 'col-sm-12 mh-550' }) }}
        {{ form_row(form.title, { row_class: 'col-sm-6' }) }}
        {{ form_row(form.chapter, { row_class: 'col-sm-6' }) }}
        <div class="col-sm col-md-10 offset-md-2 text-right">
            <button class="btn btn-success" type="submit">{{ 'crud.save'|trans }}</button>
        </div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
