{% extends 'partial/backButton.html.twig' %}
{% block additionalActions %}
    {% if scene.id %}
        <a href="{{ path('app_scene_display', { id: scene.id }) }}" class="btn btn-default" target="_blank" title="{{ 'display.go_to' | trans }}">
            <span class="fa fa-eye"></span>
            {{ 'display.label' | trans }}
        </a>
        {% for event in eventModels %}
            <button data-form-url="{{ path('app_scene_event', { id: scene.id, model: event }) }}" class="js-load-form js-edit-form  btn btn-default">
                {{ ('event.' ~ event ~ '.name') | trans }}
            </button>
        {% endfor %}
    {% endif %}
{% endblock %}
