{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% set scene = form.vars.data %}

{% block body %}
    {% set chapter = scene.chapter %}
    {% include 'partial/backButton.html.twig' with {
        redirectUri: chapter ? path('app_chapter_edit', { id: chapter.id }) : path('app_scene_list', { page: app.request.get('page') }),
        label: (chapter ? 'scene.back.to_chapter' : 'scene.back.to_list') | trans
    } %}
    <h1>{{ 'scene.header.new' | trans }}</h1>
    <div class="row">
        <div class="col-xs-12 content-container">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.chapter) }}
                <button class="btn btn-primary pull-right">{{ 'crud.save' | trans }}</button>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
