{% extends 'base.html.twig' %}

{% set scene = form.vars.data %}

{% block body %}
    {% set chapter = scene.chapter %}
    {% include 'scene/actions.html.twig' with {
        redirectUri: chapter ? path('app_chapter_edit', { id: chapter.id }) : path('app_scene_list', { page: page|default(1) }),
        label: chapter ? 'scene.back.to_chapter' | trans : 'scene.back.to_list' | trans
    } %}
    <h1>{{ scene.title ? scene.title : ('scene.header.new' | trans) }}</h1>
    <div class="row">
        <div class="col-xs-12 content-container">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.chapter) }}
                {% if scene.id %}
                    {{ form_row(form.text) }}
                {% endif %}
                <button class="btn btn-primary pull-right">{{ 'crud.save' | trans }}</button>
                {{ form_rest(form) }}
            {{ form_end(form) }}
            <div id="ajax-container"></div>
            <div id="form-backdrop"></div>
            <button id="clear-ajax" class="btn btn-danger pull-right" style="display: none;">
                <span class="fa fa-close"></span>
            </button>
        </div>
    </div>
    <nav class="side-menu">
        <ul>
            {% if scene.chapter and scene.chapter.scenes | length %}
                <li>
                    <span class="fa fa-book logo-icon"></span>
                    <span class="h4">{{ chapter }}</span>
                    <ul>
                        {% for relatedScene in scene.chapter.scenes %}
                            <li><a href="{{ path('app_scene_edit', { id: relatedScene.id }) }}">{{ relatedScene }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if scene.id %}
                {% include 'scene/characters/list.html.twig' with { scene: scene, characters: sceneCharacters(scene, 1) } only %}
                {% include 'scene/items/list.html.twig' with { scene: scene, items: sceneItems(scene, 1) } only %}
                {% include 'scene/locations/list.html.twig' with { scene: scene, locations: sceneLocations(scene, 1) } only %}
                {% include 'scene/events/list.html.twig' with { scene: scene, events: sceneEvents(scene, 1) } only %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block modals %}
    {% include 'partial/displayModal.html.twig' %}
{% endblock %}
