{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'scene.title'|trans }}</th>
                        <th>{{ 'crud.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for scene in scenes %}
                    <tr>
                        <td>{{ scene }}</td>
                        <td>
                            <a class="btn btn-primary"
                               href="{{ path('app_standalone_scene_edit', { id: scene.id }) }}"
                               title="{{ 'crud.edit' | trans }}"
                            >
                                <span class="fa fa-edit"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
