<ul class="js-ajax-pagination" data-list-url="{{ path('chapter_scenes_list', { id: chapterId }) }}">
    {% for scene in scenes %}
        <li>
            <span class="sublist-label">{{ scene }}</span>
            <span class="pull-right pr-10">
                <a class="btn btn-xs btn-primary"
                   href="{{ path('scene_edit', { id: scene.id }) }}"
                   title="{{ 'crud.edit' | trans }}"
                   >
                    <span class="fa fa-edit"></span>
                </a>
                <button class="js-list-delete js-delete btn btn-xs btn-danger"
                        data-delete-url="{{ path('scene_delete', { id: scene.id }) }}"
                        title="{{ 'crud.delete' | trans }}"
                        >
                    <span class="fa fa-trash"></span>
                </button>
            </span>
        </li>
    {% endfor %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: scenes, route: 'chapter_scenes_list', parameters: { id: chapterId }} only %}
