<li class="chapters js-list" data-list-url="{{ path('app_chapter_scenes_list', { id: chapterId }) }}">
    <span class="fa fa-book logo-icon"></span>
    <span class="h4">{{ 'chapter.scenes'|trans }}</span>
    <ul>
        {% for scene in scenes %}
            <li>
                <span class="sublist-label">{{ scene }}</span>
                <span class="pull-right" style="padding-right: 5px;">
                    <a class="btn btn-xs btn-primary"
                        href="{{ path('app_scene_edit', { id: scene.id }) }}"
                        title="{{ 'crud.edit' | trans }}"
                    >
                        <span class="fa fa-edit"></span>
                    </a>
                    <button class="js-list-delete js-delete btn btn-xs btn-danger"
                        data-delete-url="{{ path('app_scene_delete', { id: scene.id }) }}"
                        title="{{ 'crud.delete' | trans }}"
                    >
                        <span class="fa fa-trash"></span>
                    </button>
                </span>
            </li>
        {% endfor %}
    </ul>
    {% form_theme sceneForm 'bootstrap_3_layout.html.twig' %}
    {{ form_start(sceneForm) }}
        {{ form_row(sceneForm.title, { label: false }) }}
        <div style="display: none;">{{ form_row(sceneForm.chapter) }}</div>
        {{ form_rest(sceneForm) }}
        <button style="display: block; width: 100%; margin-top: 10px;"class="btn btn-primary btn-sm">
            {{- 'chapter.actions.add_scene' | trans -}}
        </button>
    {{ form_end(sceneForm) }}
</li>
