{% form_theme form 'bootstrap_3_layout.html.twig' %}
<li>
    <i class="fa fa-2x fa-book visible-xs visible-sm js-trigger-sidelist-mobile logo-icon cursor-pointer"
       title="{{ chapterTitle }}"
    ></i>
    <span class="h4">
        <button class="btn btn-xs btn-default js-list-toggle"
                data-list-url="{{ path('scene_related_list', { id: chapterId, page: 1 }) }}"
                title="{{ 'crud.list'|trans }}"
        >
            <span class="fa fa-list"></span>
        </button>
        <span>{{ chapterTitle|truncate(10) }}</span>
        {{ form_start(form, { action: path('scene_create') }) }}
            {{ form_row(form.title, { label: false, attr: { placeholder: 'scene.placeholder.title.next' } }) }}
            <div style="display: none;">
                {{ form_row(form.chapter) }}
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </span>
    <span class="js-list-container"></span>
</li>

