{% import _self as macros %}
{% set authorName = currentAuthorName() %}
<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title|default('meta.title'|trans) }}</title>
        <style>
            {{ fileGetContents('assets/main.css') }}
        </style>
    </head>
    <body>
        <main class="display container px-lg-5">
            <div class="row px-lg-5">
                <div class="col">
                    <h1 class="text-center book">{{ title }}</h1>
                    {% if authorName is not empty %}<h4 class="text-center mb-3">{{ authorName  }}</h4>{% endif %}
                    {% if chapters is defined %}
                        {% for chapter in chapters|filter(chapter => chapter.scenes|length > 0) %}
                            <h2 class="text-center chapter">{{ chapter.title }}</h2>
                            {{ macros.scenes(chapter.scenes) }}
                        {% endfor %}
                    {% elseif scenes is defined %}
                        {{ macros.scenes(scenes) }}
                    {% elseif text is defined %}
                        {{ macros.text(text) }}
                    {% endif %}
                </div>
            </div>
        </main>
        <script>
            {{ fileGetContents('assets/display.js') }}
        </script>
    </body>
</html>

{% macro scenes(scenes) %}
    {% for scene in scenes|filter(scene => scene.text is not empty) %}
        <h3 class="text-center scene">{{ scene.title }}</h3>
        {{ macros.text(scene.text) }}
    {% endfor %}
{% endmacro %}

{% macro text(text) %}
    <section class="scene-content">{{ text|raw }}</section>
{% endmacro %}
