{% import _self as macros %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/main.css')) }}">
    </head>
    <body>
        <main class="display container px-lg-5">
            <div class="row px-lg-5">
                <div class="col">
                    <h1 class="text-center book">{{ title }}</h1>
                    {% if chapters is defined %}
                        {% for chapter in chapters|filter(chapter => 0 != chapter.scenes|length) %}
                            <h2 class="text-center chapter">{{ chapter.title }}</h2>
                            {{ macros.scenes(chapter.scenes, 'h3') }}
                        {% endfor %}
                    {% elseif scenes is defined %}
                        {{ macros.scenes(scenes, 'h2') }}
                    {% elseif text is defined %}
                        {{ macros.text(text) }}
                    {% endif %}
                </div>
            </div>
        </main>
        <script src="{{ absolute_url(asset('assets/display.js')) }}" async></script>
    </body>
</html>

{% macro scenes(scenes, tag) %}
    {% for scene in scenes|filter(scene => scene.text is not empty) %}
        <{{ tag }} class="text-center scene">{{ scene.title }}</{{ tag }}>
        {{ macros.text(scene.text) }}
    {% endfor %}
{% endmacro %}

{% macro text(text) %}
    <section class="scene-content">{{ text|raw }}</section>
{% endmacro %}
