<div class="alert alert-outline-default">
    {{ (entity ~ '.info.' ~ (chapterId is not empty ? 'chapter' : 'standalone'))|trans }}
</div>
<div class="text-right pb-2">
    <button class="btn btn-sm btn-success js-load-form"
            title="{{ (entity ~ '.actions.create')|trans }}"
            data-form-url="{{ path(entity ~ '_new', { id: sceneId }) }}"
    >
        <span class="fa fa-plus"></span>
    </button>
    {% if chapterId is not empty %}
        <button class="btn btn-sm btn-outline-secondary js-load-sublist"
                title="{{ (entity ~ '.actions.add_existing')|trans }}"
                data-list-url="{{ path(entity ~ '_related', { id: sceneId }) }}"
        >
            <span class="fa fa-link"></span>
        </button>
    {% endif %}
</div>
<ul class="js-ajax-pagination list-inline" data-list-url="{{ path(entity ~ '_list', { id: sceneId, page: page }) }}">
    {% if list|length > 0 %}
        {% for item in list %}
            {% set itemId = item.id %}
            <li class="list-inline-item pt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name|truncate(20) }}</h5>
                        <div class="text-center">
                            <button class="js-load-form js-edit-form btn btn-sm btn-primary"
                                    data-form-url="{{ path(entity ~ '_edit', { id: itemId }) }}"
                                    title="{{ 'crud.edit'|trans }}"
                            >
                                <span class="fa fa-edit"></span>
                            </button>
                            <button class="js-display btn btn-sm btn-outline-secondary"
                                    data-display-url="{{ path(entity ~ '_display', { id: itemId }) }}"
                                    title="{{ 'crud.display'|trans }}"
                            >
                                <span class="fa fa-eye"></span>
                            </button>
                            {% if 1 < item.scenes|length %}
                                <button class="js-list-delete js-delete btn btn-sm btn-warning"
                                        data-delete-url="{{ path(entity ~ '_remove_from_scene', { scene_id: sceneId, id: itemId }) }}"
                                        title="{{ 'crud.remove_from_scene'|trans }}"
                            >
                                    <span class="fa fa-scissors"></span>
                                </button>
                            {% endif %}
                            <button class="js-list-delete js-delete btn btn-sm btn-danger"
                                    data-delete-url="{{ path(entity ~ '_delete', { id: itemId }) }}"
                                    title="{{ 'crud.delete'|trans }}"
                            >
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: list, route: entity ~ '_list', parameters: { id: sceneId, page: page }} only %}
