<div class="text-right pb-2">
    <button class="btn btn-sm btn-success js-load-form"
            title="{{ 'publication.action.create'|trans }}"
            data-form-url="{{ path('scene_publish', { id: sceneId }) }}"
    >
        <span class="fa fa-plus"></span>
    </button>
</div>
<ul class="js-ajax-pagination list-inline" data-list-url="{{ path('scene_publication_list', { id: sceneId, page: publications.currentPage }) }}">
    {% if publications|length > 0 %}
        {% for publication in publications %}
            {% set id = publication.id %}
            <li class="list-inline-item pt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ publication.title|truncate(25) }}<br />
                            <small>{{ ('publication.locale.' ~ publication.locale)|trans }}</small><br />
                            <small><i>{{ publication.createdAt|date('Y-m-d H:i') }}</i></small>
                        </h5>
                        <div class="text-center">
                            {% if publication.visible %}
                                <a class="btn btn-sm btn-primary"
                                    href="{{ path('publication_public_display', { id: id }) }}"
                                    target="_blank"
                                    title="{{ 'publication.action.public_display'|trans }}"
                                >
                                    <span class="fa fa-eye"></span>
                                </a>
                            {% endif %}
                            <a class="btn btn-sm btn-outline-secondary"
                                href="{{ path('publication_display', { id: id }) }}"
                                target="_blank"
                                title="{{ 'crud.display'|trans }}"
                            >
                                <span class="fa fa-eye"></span>
                            </a>
                            <button class="js-list-action btn btn-sm {% if publication.visible %}btn-secondary{% else %}btn-outline-secondary{% endif %}"
                                data-action-url="{{ path('publication_toggle_visibility', { id: id }) }}"
                                title="{{ 'publication.action.toggle_visibility'|trans }}"
                            >
                                <span class="fa {% if publication.visible %}fa-toggle-off{% else %}fa-toggle-on{% endif %}"></span>
                            </button>
                            <button class="js-list-delete js-delete btn btn-sm btn-danger"
                                data-delete-url="{{ path('publication_delete', { id: id }) }}"
                                title="{{ 'crud.delete'|trans }}"
                            >
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: publications, route: 'publication_list', parameters: { id: sceneId, page: page }} only %}
