<ul class="js-ajax-pagination list-inline" data-list-url="{{ path('scene_related_list', { id: chapterId, page: page }) }}">
    {% for item in list %}
        {% set displayLink = path('scene_display', { id: item.id }) %}
        <li class="list-inline-item pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <div class="text-center">
                        <a class="btn btn-sm btn-primary"
                           href="{{ path('scene_edit', { id: item.id }) }}"
                           title="{{ 'crud.edit'|trans }}"
                        >
                            <span class="fa fa-edit"></span>
                        </a>
                        <a class="js-display btn btn-sm btn-outline-secondary"
                           href="{{ displayLink }}"
                           data-display-url="{{ displayLink }}"
                           target="_blank"
                           title="{{ 'crud.display'|trans }}"
                        >
                            <span class="fa fa-eye"></span>
                        </a>
                        <button class="js-list-delete js-delete btn btn-sm btn-danger"
                                data-delete-url="{{ path('scene_delete', { id: item.id }) }}"
                                title="{{ 'crud.delete'|trans }}"
                        >
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% include 'partial/pagination.html.twig' with {
    paginator: list,
    route: 'scene_related_list',
    parameters: { id: chapterId, page: page }
} only %}
