<li>
    <i class="fa fa-2x fa-key d-sm-block d-md-none d-xl-none js-trigger-sidelist-mobile logo-icon cursor-pointer"
       title="{{ 'scene.tabs.items'|trans }}"
    ></i>
    <span class="h4">
        <button class="btn btn-sm btn-outline-secondary js-list-toggle"
                data-list-url="{{ path('item_list', { id: sceneId, page: 1 }) }}"
                title="{{ 'crud.list'|trans }}"
        >
            <span class="fa fa-list"></span>
        </button>
        {% if chapterId %}
            <button class="btn btn-sm btn-outline-secondary js-load-sublist"
                    title="{{ 'item.actions.add_existing'|trans }}"
                    data-list-url="{{ path('item_related', { id: sceneId }) }}"
            >
                <span class="fa fa-link"></span>
            </button>
        {% endif %}
        <button class="btn btn-sm btn-success js-load-form"
                title="{{ 'item.actions.create'|trans }}"
                data-form-url="{{ path('item_new', { id: sceneId }) }}"
        >
            <span class="fa fa-plus"></span>
        </button>
        <span>{{ 'scene.tabs.items'|trans }}</span>
    </span>
    <span class="js-list-container"></span>
</li>

