<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <title>{% block seoTitle 'meta.title'|trans %}</title>
    <meta name="description" content="{% block seoDescription '' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/main.css')) }}">
    {% block stylesheets '' %}
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">{{ 'menu.toggle'|trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" aria-expande="false" class="navbar-collapse collapse">
                {% block menu knp_menu_render('main') %}
                {% block rightMenu %}
                {% include 'partial/topMenuActions.html.twig' with {} only %}
                {% endblock %}
            </div>
        </div>
    </nav>
    <div id="alerts"
         class="container"
         data-alert-url="{{ path('alerts') }}"
         data-error-content="{{ 'alert.error'|trans }}"
    >
        {% block alerts '' %}
        {% include 'partial/alerts.html.twig' %}
    </div>
    <main class="container">
        {% block body '' %}
    </main>
    <footer>{% block footer '' %}</footer>
    {% include 'partial/confirmationModal.html.twig' %}
    {% block modals '' %}
    <script src="{{ absolute_url(asset('assets/main.js')) }}" async></script>
    {% block javascripts '' %}
    <div id="backdrop"></div>
</body>
</html>
