{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm col-md-7 text-center">
            <h3>{{ 'dashboard.header.top'|trans }}</h3>
        </div>
        {% if timeline|length > 0 %}
            <div class="col-sm col-md-5">
                <div class="card border-secondary">
                    <h4 class="card-header border-secondary">{{ 'dashboard.timeline'|trans }}</h4>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            {% for item in timeline %}
                                <li>
                                    <h5>
                                        <i class="fa fa-{{ item.updated ? 'history' : 'plus-circle' }} mr-2"
                                           title="{{ ('dashboard.updated.' ~ item.updated)|trans }}"
                                        ></i>
                                        <a href="{{ item.url }}" title="{{ ('dashboard.type.' ~ item.class)|trans }}">
                                            {{ item.label|truncate(25) }}
                                        </a>
                                    </h5>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
