{% extends 'base.html.twig' %}

{% set hasTimeline = timeline|length > 0 %}

{% block body %}
    <div class="row">
        <div class="col-sm col-md-7">
            <h4 class="alert text-body">{{ 'dashboard.header.top'|trans }}</h4>
        </div>
        <div class="col-sm col-md-5">
            <div class="card">
                <h4 class="card-header">
                    {{- ('dashboard.' ~ (hasTimeline ? 'timeline' : 'actions.header'))|trans -}}
                </h4>
                <div class="card-body">
                    {% if hasTimeline %}
                        {% for class, items in timeline|filter((items) => 0 != items|length) %}
                            <h5>{{ ('dashboard.type.' ~ class)|trans }}</h5>
                            <ul class="list-unstyled">
                                {% for item in items %}
                                    <li>
                                        <h5 title="{{ ('dashboard.updated.' ~ item.updated)|trans }}">
                                            <i class="fa fa-{{ item.updated ? 'history' : 'plus-circle' }} mr-2"></i>
                                            <a href="{{ item.url }}" title="{{ 'crud.edit'|trans }}">{{ item.label|truncate(25) }}</a>
                                        </h5>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% else %}
                        <ol>
                            <li>
                                <a href="{{ path('about') }}">
                                    {{ 'dashboard.actions.learn_more'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('scene_create') }}">
                                    {{ 'dashboard.actions.create_scene'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('chapter_create') }}">
                                    {{ 'dashboard.actions.create_chapter'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('book_create') }}">
                                    {{ 'dashboard.actions.create_book'|trans }}
                                </a>
                            </li>
                        </ol>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
