{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm col-md-7 text-center">
            <h3>{{ 'dashboard.header.top'|trans }}</h3>
            <h4>{{ 'dashboard.header.bottom'|trans }}</h4>
        </div>
        {% if timeline|length > 0 %}
            <div class="col-sm col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-left">{{ 'dashboard.timeline'|trans }}</h3>
                        <ul class="list-unstyled dashboard-timeline">{% filter spaceless %}
                            {% for item in timeline %}
                                <li>
                                    <h5 class="inline-block">
                                        <i class="fa fa-{{ item.updated ? 'history' : 'plus-circle' }}" title="{{ ('dashboard.updated.' ~ item.updated)|trans }}"></i>
                                        <a href="{{ path(item.route, { id: item.id }) }}" title="{{ ('dashboard.type.' ~ item.class)|trans }}">
                                            {{ item.label|truncate(25) }}
                                        </a>
                                    </h5>
                                </li>
                            {% endfor %}
                        {% endfilter %}</ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
