<div class="text-right pb-2">
    <button class="btn btn-sm btn-success js-load-form"
            title="{{ 'book.actions.create_chapter'|trans }}"
            data-form-url="{{ path('book_add_chapter', { id: bookId }) }}"
    >
        <span class="fa fa-plus"></span>
    </button>
</div>
<ul class="js-ajax-pagination list-inline" data-list-url="{{ path('book_chapter_list', { id: bookId }) }}">
    {% for chapter in chapters %}
        {% set displayUrl = path('chapter_display', { id: chapter.id }) %}
        <li class="list-inline-item pt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ chapter.title }}</h5>
                    <div class="text-center">
                        <a class="btn btn-sm btn-primary"
                           href="{{ path('chapter_edit', { id: chapter.id }) }}"
                           title="{{ 'crud.edit'|trans }}"
                        >
                            <span class="fa fa-edit"></span>
                        </a>
                        <a class="js-display btn btn-sm btn-outline-secondary"
                           href="{{ displayUrl }}"
                           data-display-url="{{ displayUrl }}"
                           target="_blank"
                           title="{{ 'crud.display'|trans }}"
                        >
                            <span class="fa fa-eye"></span>
                        </a>
                        <button class="js-list-delete js-delete btn btn-sm btn-danger"
                                data-delete-url="{{ path('chapter_delete', { id: chapter.id }) }}"
                                title="{{ 'crud.delete'|trans }}"
                        >
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: chapters, route: 'book_chapter_list', parameters: { id: bookId, page: page }} only %}
