<div class="alert alert-outline-default">{{ title|default('book.chapters.info'|trans) }}</div>
<div class="text-right pb-2">
    <button class="btn btn-sm btn-success js-load-form"
            title="{{ 'book.actions.create_chapter'|trans }}"
            data-form-url="{{ path('book_add_chapter', { id: bookId }) }}"
    >
        <span class="fa fa-plus"></span>
    </button>
    {% if bookDisplayLink|default(false) == true %}
        {% set bookDisplayUrl = path('book_display', { id: bookId }) %}
        <a class="btn btn-sm btn-outline-secondary js-display"
           title="{{ 'book.actions.display'|trans }}"
           href="{{ bookDisplayUrl }}"
           data-display-url="{{ bookDisplayUrl }}"
        >
            <span class="fa fa-eye"></span>
        </a>
    {% endif %}
</div>
<ul class="js-ajax-pagination js-list-sortable list-inline"
    data-list-url="{{ path('book_chapter_list', { id: bookId, page: page }) }}"
    data-positionable-url="{{ path('chapter_position_multiple') }}"
>
    {% for chapter in chapters %}
        {% set id = chapter.id %}
        {% set displayUrl = path('chapter_display', { id: id }) %}
        <li class="list-inline-item pt-2">
            <div class="card">
                <div class="card-body" data-item-id="{{ id }}">
                    <h5 class="card-title">{{ chapter.title }}</h5>
                    <div class="text-center">
                        <a class="btn btn-sm btn-primary"
                           href="{{ path('chapter_edit', { id: id }) }}"
                           title="{{ 'crud.edit'|trans }}"
                        >
                            <span class="fa fa-edit"></span>
                        </a>
                        <a class="js-display btn btn-sm btn-outline-secondary"
                           href="{{ displayUrl }}"
                           data-display-url="{{ displayUrl }}"
                           target="_blank"
                           title="{{ 'crud.display'|trans }}"
                        >
                            <span class="fa fa-eye"></span>
                        </a>
                        {% if chapter.position != 0 %}
                            <button class="js-list-action btn btn-sm btn-outline-secondary"
                               data-action-url="{{ path('chapter_position_single_decrease', { id: id }) }}"
                               title="{{ 'crud.move_down'|trans }}"
                            >
                                <span class="fa fa-arrow-left"></span>
                            </button>
                        {% endif %}
                        <button class="js-list-action btn btn-sm btn-outline-secondary"
                           data-action-url="{{ path('chapter_position_single_increase', { id: id }) }}"
                           title="{{ 'crud.move_up'|trans }}"
                        >
                            <span class="fa fa-arrow-right"></span>
                        </button>
                        <button class="js-list-delete js-delete btn btn-sm btn-danger"
                           data-delete-url="{{ path('chapter_delete', { id: id }) }}"
                           title="{{ 'crud.delete'|trans }}"
                        >
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: chapters, route: 'book_chapter_list', parameters: { id: bookId, page: page }} only %}
