{% extends 'partial/topMenuActions.html.twig' %}
{% block additionalActions %}
    <li>
        <a href="{{ path('scene_display', { id: sceneId }) }}" target="_blank" title="{{ 'display.go_to'|trans }}">
            <span class="fa fa-eye"></span>
            {{ 'display.label'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('scene_pdf', { id: sceneId }) }}" target="_blank" title="{{ 'pdf.render'|trans }}">
            <span class="fa fa-file-pdf-o"></span> {{ 'pdf.label'|trans }}
        </a>
    </li>
{% endblock %}
