{% extends 'base.html.twig' %}

{% form_theme form 'form/formTheme.html.twig' %}

{% block seoTitle 'scene.seo_title.form.create'|trans %}
{% block breadcrumbs %}
    {% include 'partial/breadcrumbs.html.twig' with {
        items: [
            { label: 'common.scenes'|trans, url: path('scene_list') },
            { label: 'scene.seo_title.form.create'|trans }
        ],
        column: 'col col-md-10 offset-md-1'
    } only %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.chapter) }}
                <div class="form-group row">
                    <div class="col text-right">
                        <a class="btn btn-outline-secondary"
                           href="{{ chapterId is not null ? path('chapter_edit', { id: chapterId }) : path('scene_list', { page: app.request.get('page', 1) }) }}"
                        >
                            <span class="fa fa-angle-left"></span>
                            {{ (chapterId is not null ? 'scene.back.to_chapter' : 'scene.back.to_list')|trans }}
                        </a>
                        <button class="btn btn-success">{{ 'crud.save'|trans }}</button>
                    </div>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
