{% extends 'base.html.twig' %}

{% import 'partial/macros.html.twig' as macros %}
{% set hasChapter = chapterId is not null %}

{% block seoTitle 'scene.seo_title.form.edit'|trans({ '%title%': title }) %}
{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: chapterId ? path('chapter_edit', { id: chapterId }) : path('scene_list', { page: app.request.get('page') }),
        returnLabel: (chapterId ? 'scene.back.to_chapter' : 'scene.back.to_list')|trans,
        actions: [
            {
                url: path('scene_pdf', { id: sceneId }),
                attributes: { target: '_blank', title: 'pdf.title'|trans },
                icon: 'fa fa-file-pdf-o',
                label: 'pdf.label'|trans
            }
        ]
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-md-10 offset-md-1">
            {{ macros.tabNavigation([
                macros.tab('formContentTab', 'formContent', 'common.content', 'active'),
                hasChapter ? macros.tab('relatedScenesTab', 'relatedScenes', 'scene.tabs.related', '') : '',
                macros.tab('charactersTab', 'characters', 'scene.tabs.characters', ''),
                macros.tab('itemsTab', 'items', 'scene.tabs.items', ''),
                macros.tab('locationsTab', 'locations', 'scene.tabs.locations', ''),
                macros.tab('eventsTab', 'events', 'scene.tabs.events', '')
            ]) }}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-10 offset-md-1">
            <div class="tab-content pt-2 pb-2">
                {{ macros.tabContent(
                    'formContent',
                    'formContentTab',
                    include('scene/form/editForm.html.twig', { form: form }, with_context = false),
                    'active show'
                ) }}
                {% if hasChapter %}
                    {{ macros.tabContent(
                        'relatedScenes',
                        'relatedScenesTab',
                        include('scene/tab/relatedScenes.html.twig', { chapterId: chapterId, list: relatedScenes, page: 1 }, with_context = false),
                        'js-list-container'
                    ) }}
                {% endif %}
                {{ macros.tabContent(
                    'characters',
                    'charactersTab',
                    include('scene/tab/entityList.html.twig', { sceneId: sceneId, chapterId: chapterId, list: characters, entity: 'character', page: 1 }, with_context = false),
                    'js-list-container'
                ) }}
                {{ macros.tabContent(
                    'items',
                    'itemsTab',
                    include('scene/tab/entityList.html.twig', { sceneId: sceneId, chapterId: chapterId, list: items, entity: 'item', page: 1 }, with_context = false),
                    'js-list-container'
                ) }}
                {{ macros.tabContent(
                    'locations',
                    'locationsTab',
                    include('scene/tab/entityList.html.twig', { sceneId: sceneId, chapterId: chapterId, list: locations, entity: 'location', page: 1 }, with_context = false),
                    'js-list-container'
                ) }}
                {{ macros.tabContent(
                    'events',
                    'eventsTab',
                    include('scene/tab/events.html.twig', { sceneId: sceneId, events: events, page: 1 }, with_context = false),
                    'js-list-container'
                ) }}
            </div>
        </div>
    </div>
    {% embed 'partial/sidemenu.html.twig' with {
        display: macros.sidemenuDisplayLink(path('scene_display', { id: sceneId })),
        pdf: macros.sidemenuPdfLink(path('scene_pdf', { id: sceneId }))
    } %}
        {% block content %}
            {{ display|raw }}
            {{ pdf|raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block modals %}
    {% include 'modal/display.html.twig' with {} only %}
    {% include 'modal/form.html.twig' with {} only %}
    {% include 'modal/list.html.twig' with {} only %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}
