{% extends 'base.html.twig' %}

{% block seoTitle 'scene.seo_title.list'|trans %}
{% block body %}
    {% if scenes|length > 0 %}
        <div class="row">
            <div class="col-sm offset-md-2 col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-right">{{ 'scene.title'|trans }}</th>
                            <th class="text-right">{{ 'scene.chapter'|trans }}</th>
                            <th class="text-right">{{ 'scene.book'|trans }}</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for scene in scenes %}
                            <tr>
                                <td class="text-right">{{ scene.title }}</td>
                                <td class="text-right">{{ scene.chapter }}</td>
                                <td class="text-right">{{ scene.book }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary"
                                       href="{{ path('scene_edit', { id: scene.id }) }}"
                                       title="{{ 'crud.edit'|trans }}"
                                    >
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a class="btn btn-sm btn-danger js-delete"
                                       href="{{ path('scene_delete', { id: scene.id }) }}"
                                       title="{{ 'crud.delete'|trans }}"
                                    >
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right">
                                <a class="btn btn-sm btn-success"
                                   href="{{ path('scene_create') }}"
                                   title="{{ 'scene.list.create'|trans }}"
                                >
                                    <span class="fa fa-plus"></span>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm offset-md-1 col-md-8">
                {% include 'partial/pagination.html.twig' with { paginator: scenes } %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm text-center">
                <h4>{{- 'scene.list.standalone.no_results.header'|trans -}}</h4>
                <a class="btn btn-sm btn-success"
                   href="{{ path('scene_create') }}"
                   title="{{ 'scene.actions.create'|trans }}"
                   >
                    <span class="fa fa-plus"></span> {{ 'scene.list.standalone.no_results.add_new'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
