{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 text-right">
            {% include 'partial/pagination.html.twig' with { paginator: scenes } %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <table class="table">
                <tbody>
                    {% for scene in scenes %}
                        <tr>
                            <td class="text-right">{{ scene }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   href="{{ path('scene_edit', { id: scene.id }) }}"
                                   title="{{ 'crud.edit'|trans }}"
                                >
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a class="btn btn-sm btn-danger js-delete"
                                   href="{{ path('scene_delete', { id: scene.id }) }}"
                                   title="{{ 'crud.delete'|trans }}"
                                >
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-right">
                            <a class="btn btn-sm btn-success"
                               href="{{ path('scene_create') }}"
                               title="{{ 'crud.create'|trans }}"
                            >
                                <span class="fa fa-plus"></span>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
