<li class="chapters js-list" data-list-url="{{ path('app_book_chapter_list', { id: bookId }) }}">
    <span class="fa fa-book logo-icon"></span>
    <span class="h4">{{ 'book.chapters'|trans }}</span>
    <ul>
        {% for chapter in chapters %}
            <li>
                <span class="sublist-label">{{ chapter.title }}</span>
                <a class="btn btn-xs btn-primary"
                    href="{{ path('app_chapter_edit', { id: chapter.id }) }}"
                    title="{{ 'crud.edit' | trans }}"
                >
                    <span class="fa fa-edit"></span>
                </a>
                <button class="js-list-delete js-delete btn btn-xs btn-danger"
                    data-delete-url="{{ path('app_chapter_delete', { id: chapter.id }) }}"
                    title="{{ 'crud.delete' | trans }}"
                >
                    <span class="fa fa-trash"></span>
                </button>
            </li>
        {% endfor %}
    </ul>
    {% form_theme chapterForm 'bootstrap_3_layout.html.twig' %}
    {{ form_start(chapterForm) }}
        {{ form_row(chapterForm.title, { label: false }) }}
        <div style="display: none;">{{ form_row(chapterForm.book) }}</div>
        {{ form_rest(chapterForm) }}
        <button style="display: block; width: 100%; margin-top: 10px;" class="btn btn-primary btn-sm">{{ 'book.actions.add_chapter' | trans }}</button>
    {{ form_end(chapterForm) }}
</li>
