<ul class="js-ajax-pagination" data-list-url="{{ path('book_chapter_list', { id: bookId }) }}">
    {% for chapter in chapters %}
        <li>
            <span class="sublist-label">{{ chapter.title }}</span>
            <span class="list-actions">
                <a class="btn btn-sm btn-primary"
                   href="{{ path('chapter_edit', { id: chapter.id }) }}"
                   title="{{ 'crud.edit'|trans }}"
                   >
                    <span class="fa fa-edit"></span>
                </a>
                <button class="js-list-delete js-delete btn btn-sm btn-danger"
                        data-delete-url="{{ path('chapter_delete', { id: chapter.id }) }}"
                        title="{{ 'crud.delete'|trans }}"
                        >
                    <span class="fa fa-trash"></span>
                </button>
            </span>
        </li>
    {% endfor %}
</ul>
{% include 'partial/pagination.html.twig' with { paginator: chapters, route: 'book_chapter_list', parameters: { id: bookId, page: page }} only %}
