<li>
    <i class="fa fa-2x fa-book d-sm-block d-md-none d-xl-none js-trigger-sidelist-mobile logo-icon cursor-pointer"
       title="{{ 'book.chapters'|trans }}"
    ></i>
    <span class="h4">
        <button class="btn btn-sm btn-outline-secondary js-list-toggle"
                data-list-url="{{ path('book_chapter_list', { id: bookId, page: 1 }) }}"
                title="{{ 'crud.list'|trans }}"
        >
            <span class="fa fa-list"></span>
        </button>
        <span>{{ 'book.chapters'|trans }}</span>
        {{ form_start(chapterForm) }}
            {{ form_row(chapterForm.title, { label: false }) }}
            {{ form_rest(chapterForm) }}
            <button class="btn btn-success btn-sm full-width">{{ 'book.actions.add_chapter'|trans }}</button>
        {{ form_end(chapterForm) }}
    </span>
    <span class="js-list-container"></span>
</li>
