{% if characters is defined %}
    <div class="modal fade"
         id="character-modal"
         tabindex="-1"
         role="dialog"
         data-list-url="{{ path('app_character_list', { id: scene.id }) }}"
         data-new-form-url="{{ path('app_character_new', { id: scene.id }) }}"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="character-modal-label">
                        {{ 'scene.characters' | trans }}
                    </h4>
                </div>
                <div class="modal-body">
                    {% include 'scene/characters/list.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success modal-load-new-form">
                        {{ 'crud.create' | trans }}
                    </button>
                    <button class="btn btn-default modal-load-list" style="display: none;">
                        {{ 'crud.list' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
