<div class="modal fade" tabindex="-1" role="dialog" id="modal-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'modal.close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ 'modal.action_confirmation'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'modal.deletion_confirmation'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{- 'no'|trans -}}
                </button>
                <button type="button" class="btn btn-danger" id="modal-confirm">
                    {{- 'yes'|trans -}}
                </button>
            </div>
        </div>
    </div>
</div>
