{% if filters is not null %}
    {% include 'partial/filters.html.twig' with { filters: filters } only %}
{% endif %}
{% if rows|length > 0 %}
    <div class="row">
        <div class="col-sm offset-md-2 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>
                                {{ header.label|trans }}
                                {% if header.sortable %}
                                    <a href="{{ path('sort', { list: sort, field: header.field, direction: 'asc', redirect: app.request.uri }) }}"
                                       class="btn btn-sm {% if isActiveSort(sort, header.field, 'asc') %}btn-secondary{% else %}btn-outline-secondary{% endif %}"
                                       title="{{ 'sort.asc'|trans }}"
                                    >
                                        <span class="fa fa-sort-alpha-asc"></span>
                                    </a>
                                    <a href="{{ path('sort', { list: sort, field: header.field, direction: 'desc', redirect: app.request.uri }) }}"
                                       class="btn btn-sm {% if isActiveSort(sort, header.field, 'desc') %}btn-secondary{% else %}btn-outline-secondary{% endif %}"
                                       title="{{ 'sort.desc'|trans }}"
                                    >
                                        <span class="fa fa-sort-alpha-desc"></span>
                                    </a>
                                {% endif %}
                            </th>
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        {% set displayPath = path(action.display, { id: row.id }) %}
                        <tr>
                            {% for column in row.columns %}
                                <td>{{ column.value }}</td>
                            {% endfor %}
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   href="{{ path(action.edit, { id: row.id, page: page }) }}"
                                   title="{{ 'crud.edit'|trans }}"
                                >
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a class="btn btn-sm btn-outline-secondary js-display"
                                   href="{{ displayPath }}"
                                   data-display-url="{{ displayPath }}"
                                   title="{{ 'crud.display'|trans }}"
                                >
                                    <span class="fa fa-eye"></span>
                                </a>
                                <a class="btn btn-sm btn-danger js-delete"
                                   href="{{ path(action.delete, { id: row.id, page: page }) }}"
                                   title="{{ 'crud.delete'|trans }}"
                                >
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="{{ headers|length + 1 }}" class="text-right">
                            <a class="btn btn-sm btn-success" href="{{ create.path }}" title="{{ create.label|trans }}">
                                <span class="fa fa-plus"></span>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm offset-md-2 col-md-8">
            {% include 'partial/pagination.html.twig' with { paginator: rows } only %}
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col text-center">
            <div class="card w-50 mx-auto">
                <div class="card-body">
                    <h4 class="card-header">{{ noResults.header|trans }}</h4>
                    <p class="card-body">
                        <a class="btn btn-sm btn-success"
                           href="{{ create.path }}"
                           title="{{ noResults.title|trans }}"
                        >
                            <span class="fa fa-plus"></span> {{ noResults.action|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
