{% macro sidemenuDisplayLink(link) %}
    <li>
        <a class="js-display d-sm-block d-md-none d-xl-none logo-icon"
           href="{{ link }}"
           data-display-url="{{ link }}"
           target="_blank"
           title="{{ 'display.title'|trans }}"
        >
            <span class="fa fa-eye"></span>
        </a>
        <span class="h4">
            <a class="js-display btn btn-sm btn-outline-secondary"
               href="{{ link }}"
               data-display-url="{{ link }}"
               target="_blank"
               title="{{ 'display.title'|trans }}"
            >
                <span class="fa fa-eye"></span>
            </a>
            <span>{{ 'display.label'|trans }}</span>
        </span>
    </li>
{% endmacro %}

{% macro sidemenuPdfLink(link) %}
    <li>
        <a class="d-sm-block d-md-none d-xl-none logo-icon"
           href="{{ link }}"
           target="_blank"
           title="{{ 'pdf.title'|trans }}"
        >
            <span class="fa fa-file-pdf-o"></span>
        </a>
        <span class="h4">
            <a class="btn btn-sm btn-outline-secondary" href="{{ link }}" target="_blank" title="{{ 'pdf.title'|trans }}">
                <span class="fa fa-file-pdf-o"></span>
            </a>
            <span>{{ 'pdf.label'|trans }}</span>
        </span>
    </li>
{% endmacro %}

{% macro sidemenuPublishLink(link) %}
    <li>
        <a class="d-sm-block d-md-none d-xl-none logo-icon"
           href="{{ link }}"
           target="_blank"
           title="{{ 'publish.title'|trans }}"
        >
            <span class="fa fa-file-o"></span>
        </a>
        <span class="h4">
            <a class="btn btn-sm btn-outline-secondary" href="{{ link }}" target="_blank" title="{{ 'publish.title'|trans }}">
                <span class="fa fa-file-o"></span>
            </a>
            <span>{{ 'publish.label'|trans }}</span>
        </span>
    </li>
{% endmacro %}

{% macro menuItem(url, attributes, icon, label, linkClass) %}
    <li class="nav-item{% if linkClass is not empty %} {{ linkClass }}{% endif %}">
        <a href="{{ url }}"{% for name, value in attributes %} {{ name }}="{{ value }}"{% endfor %} class="nav-link">
            <span class="fa {{ icon }}"></span> {{ label }}
        </a>
    </li>
{% endmacro %}

{% macro mainMenuItem(route, label, currentRoute) %}
    <li class="nav-item{% if isActiveMenuItem(currentRoute, route) %} active{% endif %}">
        <a class="nav-link" href="{{ path(route) }}">{{ label }}</a>
    </li>
{% endmacro %}

{% macro dropdownToggle(label, target) %}
    <button class="btn btn-link dropdown-toggle nav-link"
            type="button"
            id="{{ target }}"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
    >
        {{- label -}}
    </button>
{% endmacro %}

{% macro dropdownItem(url, attributes, icon, label, linkClass) %}
    <li class="dropdown-item">
        <a href="{{ url }}"{% for name, value in attributes %} {{ name }}="{{ value }}"{% endfor %}>
            <span class="fa {{ icon }}"></span> {{ label }}
        </a>
    </li>
{% endmacro %}

{% macro tabNavigation(tabs, return = null) %}
    <ul class="nav nav-tabs" role="tablist">
        {% for tab in tabs %}
            {{ tab|raw }}
        {% endfor %}
        {% if return is not null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ return.link }}">
                    <span class="fa fa-angle-left"></span>
                    {{ return.label }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endmacro %}

{% macro tab(id, href, content, class) %}
    <li class="nav-item">
        <a class="nav-link {{ class }}" id="{{ id }}" href="#{{ href }}" data-toggle="tab">{{ content|trans }}</a>
    </li>
{% endmacro %}

{% macro tabContent(id, tabId, content, class) %}
    <div class="tab-pane fade {{ class }}" id="{{ id }}" role="tabpanel" aria-labelledby="{{ tabId }}">
        {{ content|raw }}
    </div>
{% endmacro %}
