{% form_theme form 'form/simpleFormTheme.html.twig' %}

<div class="row">
    <div class="col-xs-12">
    {% if title is defined %}<h2>{{ title|trans }}</h2>{% endif %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="form-group">
            <div class="col-xs-12 text-right">
                <button class="btn btn-success">{{ 'crud.save'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>
<script>
    var event = document.createEvent('Event');
    event.initEvent('ckeditor:initialize', true, true);
    document.getElementById('ajax-container').dispatchEvent(event);
</script>
