{% import _self as macros %}
<ul class="nav navbar-nav nav-actions">
    {% for action in actions|default([]) %}
        {{ macros.menuItem(action.url, action.attributes, action.icon, action.label, 'visible-xs') }}
    {% endfor %}
    {% if returnUrl is defined and returnLabel is defined %}
        {{ macros.menuItem(returnUrl, {}, 'fa-angle-left', returnLabel, '') }}
    {% endif %}
    {% if actions is defined %}
        <li class="dropdown hidden-xs">
            {{ macros.dropDownItem('crud.actions'|trans) }}
            <ul class="dropdown-menu">
                {% for action in actions %}
                    {{ macros.menuItem(action.url, action.attributes, action.icon, action.label, '') }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    <li class="last dropdown hidden-xs">
        {{ macros.dropDownItem(app.user.username) }}
        <ul class="dropdown-menu">
            {{ macros.menuItem(path('change_password'), {}, 'fa-lock', 'menu.change_password'|trans, '') }}
            {{ macros.menuItem(path('logout'), {}, 'fa-power-off', 'menu.logout'|trans, '') }}
        </ul>
    </li>
</ul>

{% macro menuItem(url, attributes, icon, label, linkClass) %}
    <li{% if linkClass is not empty %} class="{{ linkClass }}"{% endif %}>
        <a href="{{ url }}"{% for name, value in attributes %} {{ name }}="{{ value }}"{% endfor %}>
            <span class="fa {{ icon }}"></span> {{ label }}
        </a>
    </li>
{% endmacro %}

{% macro dropDownItem(label) %}
    <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ label }} <i class="fa fa-caret-down"></i>
    </a>
{% endmacro %}
