{% import 'partial/macros.html.twig' as macros %}

<ul class="nav navbar-nav nav-actions">
    {% if returnUrl is defined and returnLabel is defined %}
        {{ macros.menuItem(returnUrl, {}, 'fa-angle-left', returnLabel, '') }}
    {% endif %}
    {{ macros.menuItem(path('change_password'), {}, 'fa-lock', 'menu.change_password'|trans, 'd-sm-block d-md-none d-xl-none') }}
    {{ macros.menuItem(path('logout'), {}, 'fa-power-off', 'menu.logout'|trans, 'd-sm-block d-md-none d-xl-none') }}
    <li class="dropdown d-none d-sm-none d-md-block d-xl-block">
        {{ macros.dropdownToggle(app.user.username, 'menu-user') }}
        <ul class="dropdown-menu" aria-labelledby="menu-user">
            {{ macros.dropdownItem(path('change_password'), {}, 'fa-lock', 'menu.change_password'|trans, '') }}
            {{ macros.dropdownItem(path('logout'), {}, 'fa-power-off', 'menu.logout'|trans, '') }}
        </ul>
    </li>
</ul>
