<ul class="nav navbar-nav nav-actions">
    {% if returnUrl is defined and returnLabel is defined %}
        <li><a href="{{ returnUrl }}"><span class="fa fa-angle-left"></span>  {{ returnLabel }}</a></li>
    {% endif %}
    {% block additionalActions '' %}
    <li class="visible-xs"><a href="{{ path('change_password') }}">{{ 'menu.change_password'|trans }}</a></li>
    <li class="visible-xs"><a href="{{ path('logout') }}">{{ 'menu.logout'|trans }}</a></li>
    <li class="last dropdown hidden-xs">
        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.username }}
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="first">
                <a href="{{ path('change_password') }}">{{ 'menu.change_password'|trans }}</a>
                <a href="{{ path('logout') }}">{{ 'menu.logout'|trans }}</a>
            </li>
        </ul>
    </li>
</ul>
