{% extends 'partial/backButton.html.twig' %}
{% block additionalActions %}
    <a href="{{ path('app_chapter_display', { id: chapterId }) }}" class="btn btn-default" target="_blank" title="{{ 'display.go_to' | trans }}">
        <span class="fa fa-eye"></span>
        {{ 'display.label' | trans }}
    </a>
    <a href="{{ path('app_chapter_pdf', { id: chapterId }) }}" class="btn btn-default" target="_blank" title="{{ 'pdf.render' | trans }}">
        <span class="fa fa-file-pdf-o"></span>
        {{ 'pdf.label' | trans }}
    </a>
{% endblock %}

