{% extends 'base.html.twig' %}

{% set chapter = form.vars.data %}

{% block body %}
    {% set book = chapter.book %}
    {% include 'chapter/actions.html.twig' with {
        redirectUri: book ? path('app_book_edit', { id: book.id }) : path('app_chapter_list'),
        label: book ? 'chapter.back.to_book' | trans : 'chapter.back.to_list' | trans
    } %}
    <h1>{{ chapter.title }}</h1>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basic">
                        {{ form_row(form.title) }}
                        {{ form_row(form.book) }}
                        <button class="btn btn-primary pull-right">{{ 'crud.save' | trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <h2>{{ 'chapter.scenes' | trans }}</h2>
    <div class="row">
        <div class="col-xs-12">
            {% include 'chapter/scenes/list.html.twig' with { chapterId: chapterId, scenes: scenes, sceneForm: sceneForm } only %}
        </div>
    </div>
{% endblock %}
