{% extends 'chapter/base.html.twig' %}

{% block body %}
    {% include 'partial/backButton.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary">{{ 'crud.save' | trans }}</button>
        {{ form_end(form) }}
        </div>
    </div>
    <br/>
    {% if scenes is defined %}
        <h2>{{ 'chapter.scenes' | trans }}</h2>
        {% include 'chapter/scenes/list.html.twig' %}
    {% endif %}
{% endblock %}
