{% extends 'base.html.twig' %}

{% block body %}
    {% set book = chapter.book %}
    {% include 'partial/backButton.html.twig' with {
        redirectUri: book ? path('app_book_edit', { id: book.id }) : path('app_chapter_list', { page: page|default(1) }),
        label: book ? 'chapter.back.to_book' | trans : 'chapter.back.to_list' | trans
    } %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">
                {{ 'chapter.tabs.basic' | trans }}
            </a>
        </li>
        {% if scenes is defined %}
            <li role="presentation">
                <a href="#scenes" aria-controls="scenes" role="tab" data-toggle="tab">
                    {{ 'chapter.tabs.scenes' | trans }}
                </a>
            </li>
        {% endif %}
    </ul>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basic">
                        {{ form_row(form.title) }}
                        {{ form_row(form.book) }}
                        <button class="btn btn-primary">{{ 'crud.save' | trans }}</button>
                    </div>
                    {% if scenes is defined %}
                        <div role="tabpanel" class="tab-pane fade" id="scenes">
                            {% include 'chapter/scenes/list.html.twig' %}
                        </div>
                    {% endif %}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
