{% extends 'security/base.html.twig' %}

{% block seo_title 'security.login.header'|trans %}
{% block subheader 'security.login.header'|trans %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger alert-form text-center" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <form method="POST" class="form-horizontal" novalidate="novalidate">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">{{ 'security.login.username.label' | trans }}</label>
                    <div class="col-sm-10">
                        <input id="username" type="text" name="_username" class="form-control" placeholder="{{ 'security.login.username.placeholder' | trans }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">{{ 'security.login.password.label' | trans }}</label>
                    <div class="col-sm-10">
                        <input id="password" type="password" name="_password" class="form-control" placeholder="{{ 'security.login.password.placeholder' | trans }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <a class="btn btn-default" href="{{ path('register') }}">{{ 'security.login.register' | trans }}</a>
                        <button class="btn btn-success">{{ 'security.login.submit' | trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
