{% set hasAvatar = avatar is not empty %}
{% set hasDescription = description is not empty %}
{% set hasEvents = events|length > 0 %}
{% import 'partial/macros.html.twig' as macros %}
{% import _self as self_macros %}
<div class="modal-header">
    <h4 class="modal-title">{{ name }}</h4>
    <button type="button" class="js-close-modal close" aria-label="{{ 'modal.close'|trans }}">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% if hasDescription or hasEvents or hasAvatar %}
    <div class="modal-body">
        {% if hasAvatar %}
            <img class="img-fluid mb-3" src="{{ fsi_file_url(avatar.value) }}" />
        {% endif %}
        {% if hasDescription and hasEvents %}
            {{ macros.tabNavigation(
                macros.tab('displayContentTab', 'displayContent', 'scene.modal.description', 'active'),
                macros.tab('displayEventsTab', 'displayEvents', 'scene.modal.events', '')
            ) }}
            <div class="tab-content pt-2 pb-2">
                {{ macros.tabContent('displayContent', 'displayContentTab', self_macros.content(description), 'show active') }}
                {{ macros.tabContent('displayEvents', 'displayEventsTab', self_macros.events(events), 'pl-2 pr-2') }}
            </div>
        {% elseif hasDescription %}
            {{ self_macros.content(description) }}
        {% elseif hasEvents %}
            <h5>{{ 'scene.modal.events'|trans }}</h5>
            {{ self_macros.events(events) }}
        {% endif %}
    </div>
{% endif %}
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary js-close-modal">
        {{- 'modal.close'|trans -}}
    </button>
</div>

{% macro content(description) %}
    <div class="row">
        <div class="col">
            {{ description|raw }}
        </div>
    </div>
{% endmacro %}

{% macro events(events) %}
    <ol>
        {% for event in events %}
            <li>{{ event }}</li>
        {% endfor %}
    </ol>
{% endmacro %}