<div class="modal-header">
    <h4 class="modal-title">{{ view.name }}</h4>
    <button type="button" class="js-close-modal close" aria-label="{{ 'modal.close'|trans }}">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% if view.avatar is not null or view.description is not empty %}
<div class="modal-body">
    <div class="row">
        {% if view.avatar is not empty %}
            <div class="col-5">
                <img class="img-fluid center-block" src="{{ fsi_file_url(view.avatar.value) }}" />
            </div>
        {% endif %}
        {% if view.description is not empty %}
            <div class="col{% if view.avatar is not empty %}-7{% endif %}">
                {{ view.description|raw }}
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary js-close-modal">
        {{- 'modal.close'|trans -}}
    </button>
</div>
